@import '../../../global.scss';

.skills {
    .skills-text {
        color:$accentcolor;
    }
    .logos-contain {
        >*{
            height:50px;
            width:auto;
            margin:10px;
        }
    }
}