* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  text-decoration: none !important;
}

html {
  scroll-snap-type: y mandatory;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}
