@import './assets/global.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  text-decoration: none !important;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scroll-snap-type: y mandatory;
}

body {
    font-family: $fonts;
}
